{{- $ThemeVersion := "3.21.0" -}}
<footer class="site-footer footer">
        <div class="footer__inner">
          <a href="/" class="logo" style="text-decoration: none;">
        
          <span class="logo__mark"><svg xmlns="http://www.w3.org/2000/svg" class="greater-icon" width="44" height="44" viewBox="0 0 44 44">
        <polyline fill="none" stroke="#b1b3b9" stroke-width="6" points="15 8 29.729 22.382 15 35.367" />
      </svg>
      </span>
          <span class="logo__text">nafaal.com/blog</span>
          <!-- <span class="logo__cursor"></span> -->
      </a>
      <div class="footer__inner footer__inner--small ">
        <div class="copyright">
          <span><a target="_blank" href="https://twitter.com/nafaaal">Twitter</a></span>
          <span><a target="_blank" href="https://www.linkedin.com/in/nafaaal/">Linkedin</a></span>
          <span><a target="_blank" href="https://github.com/nafaaal">Github</a></span>
          <span><a href="https://nafaal.com/credit/">Credits</a></span>
        </div>
      </div>
        </div>
</footer>
