footer.site-footer {
    padding: 40px 0 var(--section-separation) 0;
    font-size: 1.4rem;
    line-height: 1.75;

    // &:before {
    //     content: "";
    //     display: block;
    //     height: 3px;
    //     width: 50px;
    //     background: var(--body-text-color);
    //     margin-bottom: 20px;
    // }

    .copyright {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 1.2rem;

        a {
            color: var(--body-text-color);
        }
    }
}

.logo {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    font-weight: 700;
    text-decoration: none;
    float: left;
  }
  .logo img {
    height: 44px;
  }
  .logo__mark {
    align-items: center;
    display: inline-flex;
    margin-right: 5px;
  }
  .logo__mark .greater-icon {
    height: 100%;
    width: 0.95rem;
  }
  .logo__mark .greater-icon path {
    stroke: currentColor;
    stroke-width: 8px;
  }
  .logo__text {
    font-size: 1.5rem;
  }
  .logo__cursor {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    background: #d580ff;
    border-radius: 1px;
    display: inline-block;
    height: 1rem;
    margin-left: 5px;
    width: 10px;
  }
